/*
detalles gráficos

colores:
azul oscuro: #021f59
azul claro: #1D64f2
verde: #04d9c4
rosa: #9f2c52

tipografías:
font-family: 'Comfortaa', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Noto Serif SC', serif;
*/

*{
    margin: 0;
    border: 0;
}
body{
    background-color: #f2f2f2;
}

/*navbar*/
header{
    width: 92%;
    margin: auto;
}
.logo img{
    width: 40%;
    margin: 20px 20px 10px;
}
.menu{
    background-color: #021f59;
}
.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4px 0;
    list-style: none;
    font-family: 'Lato', sans-serif;
}
.menu li a{
    text-align: center;
    color: #E8E8E8;
    text-decoration: none;
    font-size: small;
}

/*index*/
main{
    width: 92%;
    height: auto;
    margin: 10px auto 0;
}
.frase{
    padding: 5px 10px;
    font-family: 'Lato', sans-serif;
    font-size: medium;
    line-height: 1.5em;
    color: #021f59;
    background-color: #04d9c4;
    text-align: center;
}
.gif{
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.gif img{
    width: 98%;
    border: solid #021f59;
}
.t1 h2,
.t2 h2,
.t3 h2{
    width: 92%;
    margin: 10px auto 0;
    font-family: 'Comfortaa', cursive;
    padding: 10px 0;
    text-align: center;
}
.t1 h2{
    background-color: #1D64f2;
    color: #f2f2f2;
}
.t2 h2{
    background-color: #04d9c4;
    color: #021f59
}
.t3 h2{
    background-color: #9f2c52;
    color: #f2f2f2;
}
.t1 a,
.t2 a,
.t3 a{
    text-decoration: none;
}
#noticias{
    width: 92%;
    height: auto;
    margin: 5px auto 1%;
    background-color: #1D64f2;
    padding: 10px 0;
}
#noticias a{
    text-decoration: none;
}
.noticia1,
.noticia2,
.noticia3,
.noticia4{
    width: 100%;
    margin: 0 auto 10PX;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#noticias .card-img-top{
    width: 90%;
    height: auto;
    margin: 0 5%;
}
#noticias .card-body{
    margin-bottom: 10px;
    background-color: #1D64f2;
    padding: 5px 20px 15px;
    font-family: 'Lato', sans-serif;
    color: #f2f2f2;
}
#noticias h3{
    color: #021f59;
}
#galeria{
    width: 92%;
    height: auto;
    margin: 5px auto;
    display: grid;
    background-color: #04d9c4;
    grid-template-columns: 48% 48%;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas: "foto1 foto2"
                         "foto3 foto4"
                         "foto5 foto6";
    justify-content: space-around;
}
#galeria .foto1{
    grid-area: foto1;
    background-image: url(../imgs/sq1.jpeg);
}
#galeria .foto2{
    grid-area: foto2;
    background-image: url(../imgs/sq2.png);
}
#galeria .foto3{
    grid-area: foto3;
    background-image: url(../imgs/sq3.png);
}
#galeria .foto4{
    grid-area: foto4;
    background-image: url(../imgs/sq6.jpeg);
}
#galeria .foto5{
    grid-area: foto5;
    background-image: url(../imgs/sq5.jpeg);
}
#galeria .foto6{
    grid-area: foto6;
    background-image: url(../imgs/sq4.jpeg.crdownload);
}
#galeria .foto1,
#galeria .foto2,
#galeria .foto3,
#galeria .foto4,
#galeria .foto5,
#galeria .foto6{
    width: 95%;
    height: 90%;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#blog{
    width: 92%;
    height: auto;
    margin: 5px auto 10px;
    padding: 10px 0;
    text-align: justify;
    background-color: #9f2c52;
}
#blog .card{
    width: 80%;
    height: auto;
    margin: 5px auto 10px;
    background-color: #f2f2f2;
    border-radius: 3px;
    font-family: 'Lato', sans-serif;
    color: #021f59;
    text-align: left;
    padding: 10px 20px;
}
#blog .card-title{
    width: 80%;
    margin: auto;
    padding-bottom: 5px;
    text-align: center;
}
#blog .card-link{
    text-decoration: none;
    color: #9f2c52;
    margin-left: 80%;
}


/*noticias*/
#notColombia{
    width: 92%;
    margin: auto;
}
#notColombia h1{
    width: 90%;
    margin: auto;
    font-family: 'Noto Serif SC', serif;
    text-align: center;
    font-size: 1.2em;
    color: #021f59;
    padding: 10px;
}
#notColombia .parte1,
#notColombia .parte2{
    width: 90%;
    margin: auto;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    color: #021f59;
    padding: 10px;
}
#notColombia img{
    width: 90%;
    margin: 10px 1.3rem;
}

/*aprende*/
#aprende{
    width: 92%;
    height: auto;
    margin: 10px auto 30px;
    display: grid;
    grid-template-columns: 48.5% 48.5%;
    grid-template-rows: auto;
    grid-template-areas: "foto1 foto2"
                         "foto3 foto4"
                         "foto5 foto6";
    column-gap: 2%;
    row-gap: 2%;
    justify-content: center;
}
#aprende .foto1{
    grid-area: foto1;
}
#aprende .foto2{
    grid-area: foto2;
}
#aprende .foto3{
    grid-area: foto3;
}
#aprende .foto4{
    grid-area: foto4;
}
#aprende .foto5{
    grid-area: foto5;
}
#aprende .foto6{
    grid-area: foto6;
}
#aprende .foto1 img,
#aprende .foto2 img,
#aprende .foto3 img,
#aprende .foto4 img,
#aprende .foto5 img,
#aprende .foto6 img{
    width: 100%;
    margin: auto;
}

/*blog*/
#entrada{
    margin: auto;
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: auto;
    grid-template-areas: "h1"
                         "tex1"
                         "foto3"
                         "tex2";
    grid-column-gap: 4%;
    justify-content: center;
}
#entrada h1{
    grid-area: h1;
    font-family: 'Noto Serif SC', serif;
    text-align: center;
    color: #021f59;
    padding: 20px;
}
#entrada .tex1{
    grid-area: tex1;
}
#entrada .tex2{
    grid-area: tex2;
}
#entrada .tex1 p,
#entrada .tex2 p{
    width: 80%;
    margin: auto;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    color: #021f59;
    padding: 20px;
}
#entrada img{
    grid-area: fot3;
    margin: 0 10%;
    width: 80%;
}

/*contacto*/
#forma{
    width: 82%;
    height: 360px;
    margin: 20px auto;
    background-color: #2983a6;
    padding: 10px;
    color: #023859;
    font-family: 'Lato', sans-serif;
    font-size: small;
    line-height: 24px;
}
#forma .titulo{
    font-family: 'Lato', sans-serif;
    text-decoration: underline;
}

/*footer*/
#pieDePagina{
    width: 92%;
    height: 90px;
    margin: auto;
    background-color: #021f59;
    display: flex;
}
#pieDePagina .logoBajo{
    width: 200px;
    height: 40px;
    margin: 30px 20px 0;
    background-image: url(../imgs/logoIndex.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#pieDePagina .datosContacto{
    width: 35%;
    font-family: 'Lato', sans-serif;
    font-size: .8rem;
    color: #E8E8E8;
    text-align: left;
    padding: 12px 0 0 5px;
}
#pieDePagina .copyRight{
    width: 45%;
    font-family: 'Lato', sans-serif;
    font-size: .4rem;
    text-align: right;
    color: #E8E8E8;
    padding: 50px 20px 0;
}


/*tablet*/
@media screen and (min-width: 768px){
    .menu li a{
        font-size: medium;
    }
    main{
        margin: 10px auto;
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 280px;
        grid-template-areas: "frase gif";
    }
    .frase{
        height: auto;
        padding-top: 25%;
        font-size: 1.3rem;
    }
    .gif{
        margin-top: 0;
        background-color: #021f59;
    }
    .gif img{
        height: 90%;
        width: auto;
        margin: 2% 8%;
    }
    #noticias{
        margin: 5px auto;
        display: grid;
        grid-template-columns: 49% 49%;
        grid-template-rows: auto;
        grid-template-areas: "noticia1 noticia2"
                             "noticia3 noticia4";
        justify-content: center;
    }
    .noticia1,
    .noticia2,
    .noticia3,
    .noticia4{
        margin: 10px auto;
    }
    #galeria{
        grid-template-columns: 31% 31% 31%;
        grid-template-rows: 250px 250px ;
        grid-template-areas: "foto1 foto2 foto3"
                             "foto4 foto5 foto6";
    }
    #notColombia h1{
        width: 75%;
        font-size: 1.4em;
    }
    #aprende{
        margin: 10px auto;
        grid-template-columns: 32% 32% 32%;
        grid-template-areas: "foto1 foto2 foto3"
                             "foto4 foto5 foto6";
    }
    #forma{
        width: 50%;
        padding-left: 5%;
        font-size: medium;
    }
    #pieDePagina .logoBajo{
        width: 300px;
        height: 40px;
        margin: 25px 30px 0;
    }
    #pieDePagina .datosContacto{
        padding-left: 20px 0;
    }
    #pieDePagina .copyRight{
        font-size: .6rem;
        padding: 60px 20px 0;
    }
}


/*pc*/
@media screen and (min-width: 992px){
    header{
        width: 95%;
        margin: auto;
    }
    .logo img{
        width: 20%;
    }
    .menu{
        margin-top: 10px;
    }
    .menu li a{
        font-size: 1.5rem;
    }
    main{
        width: 95%;
        margin: 20px auto;
        grid-template-columns: 30% 70%;
        grid-template-rows: 450px;
    }
    .frase{
        padding: 22.5% 8% 0;
        font-size: 2.3rem;
    }
    .gif img{
        margin: 2% 10%;
    }
    .t1 h2,
    .t2 h2,
    .t3 h2{
        width: 95%;
    }
    #noticias{
        width: 95%;
        height: auto;
        grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
        grid-template-areas: "noticia1 noticia2 noticia3 noticia4";
    }
    #galeria{
        width: 95%;
        grid-template-columns: 24% 24% 24% 24%;
        grid-template-rows: 350px;
        grid-template-areas: "foto1 foto2 foto3 foto4";
    }
    #blog{
        width: 95%;
        display: flex;
    }
    #blog .card{
        width: 80%;
        margin: 10px 3%;
    }
    
    #notColombia h1{
        font-size: 1.6em;
    }
    #notColombia .parte1,
    #notColombia .parte2{
        width: 80%;
        font-size: large;
        padding: 20px;
    }
    #notColombia img{
        height: 300px;
        width: auto;
        margin: 0 30%;
    }
    #aprende{
        width: 95%;
        margin-bottom: 30px;
    }
    #forma{
        width: 40%;
        height: 420px;
        font-size: large;
    }
    #pieDePagina{
        width: 95%;
        height: 130px;
    }
    #pieDePagina .logoBajo{
        width: 300px;
        height: 60px;
        margin: 40px 40px 0;
    }
    #pieDePagina .datosContacto{
        padding: 20px 60px 0;
        font-size: large;
    }
    #pieDePagina .copyRight{
        font-size: medium;
        padding: 80px 40px 0;
    }
}

/*









